@charset "utf-8";

:root{
    --primaria: #00E3CC;
    --secundaria: #32A89C;
    --terciaria:  #009688;
    --quarternaria: #44E3D3;
    --quitanaria: #00635A;
}

body{
    background-color: var(--corverde);
}