@charset "utf-8";

@font-face {
    font-family: "idroid";
    src: url(../fontes/idroid.otf);
}

:root{
    --primaria: #00E3CC;    
    --secundaria:  #009688;    
    --terciaria: #00635A;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "idroid";        
}

header{
    background-image: linear-gradient(to bottom, #00E3CC, #009688, #00635A);
    text-align: center;
}

header > div{
    color: white;
    font-size: 28px;
    padding: 30px;
}

nav > ul{
    list-style: none;
    color: white;
}